body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0em 1em 1em;
}

a:link      { color: #204a87; }
a:visited   { color: #0a3050; }

.miniform {
    background-color: #D3D7CF;
    border: 1px solid #888A85;
    padding: 0.5em;
}

    .miniform > label {
        font-size: 86%;
    }

    .miniform > input {
        width: 98%;
    }


#header {
    height: 40px;
    border-bottom: 2px solid #CCC;
}

    #logo {
        float: left;
        padding: 0em 12em 0.5em 0.5em;
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        font-family: serif;
        font-style: italic;
    }

    #menu {
        list-style: none;
    }

        #menu > li {
            display: inline;
            float: left;
            padding: 0.5em 1em;
        }

            #menu > li > a {
                color: white;
            }

#lists {
    clear: both;
    margin-top: 20px;
}

    #list-selector {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
    }

        #list-selector > li {
            display: inline;
            padding: 0.2em 1em;
            margin: 0;
            background-color: #ecf0eb;
            border: 1px solid #d3d7cf;
            margin: 0px 2px;
        }

        #list-selector > li.active {
            background-color: white;
            border-bottom: 2px solid white;
        }

            #list-selector > li > a {
                text-decoration: none;
            }

    #list {
        clear: both;
        background-color: white;
        color: black;
        border: 2px solid #888a85;
        padding: 1em;
        margin-top: 3px;
        min-height: 500px;
    }

            #list > div > h2 {
                margin: 0px 0px 0.5em;
            }

        #tasks {
            width: 400px;
            float: left;
            padding-right: 1em;
            border-right: 1px dotted #888a85;
            margin-right: 1em;
        }

            #task-table {
                width: 100%;
            }

                    #task-table > tbody > tr > td {
                        border-bottom: 1px dotted #888a85;
                    }

                    #task-table > tbody > tr:hover > td {
                        background-color: #feffd0;
                    }

                    td.actions {
                        text-align: right;
                    }

                        td.actions > a {
                            padding: 0.2em 0.5em;
                            cursor: pointer;
                            font-weight: bold;
                        }

                        a.done      { color: #4e9a06; }
                        a.later     { color: #888a85; }
                        a.remove    { color: #cc0000; }

                        a.done:hover    { background-color: #4e9a06; color: white; }
                        a.later:hover   { background-color: #edd400; color: #333; }
                        a.remove:hover  { background-color: #cc0000; color: black; }

                #task-table > tfoot {
                    padding-top: 1em;
                }
                    #add-task > td {
                        background-color: #D3D7CF;
                        border: 1px solid #888A85;
                        padding: 0.5em;
                    }

                        #task-title {
                            width: 98%;
                        }

        #log {
            margin-left: 1em;
        }

            #log-table > tbody > tr > td {
                border-bottom: 1px dotted #888a85;
            }

                #log-table > tbody > tr > td > h3 {
                    margin: 0px;
                }

            td.time {
                font-family: monospace;
                font-size: 90%;
                color: #888a85;
                text-align: right;
                padding-right: 0.5em;
            }

            td.added    { color: #666; }
            td.done     { color: #4e9a06; }
            td.removed  { color: #cc0000; }
            td.delayed  { color: #888a85; }
