<%

/*
    Copyright 2011 Emilis Dambauskas

    This file is part of Autofocus application.

    Autofocus is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Autofocus is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Autofocus.  If not, see <http://www.gnu.org/licenses/>.
*/


var {lists, log} = vars;
lists = lists || [];
log = log || [];

%>
<div id="list">
    <div id="tasks">
        <h2>Task lists:</h2>
        <ul><%

        for each (var list in lists) {
            print('<li><a href="/?call=Autofocus.showList&id=', list.id, '">', list.title, '</a></li>');
        }

        %></ul>

        <form method="post" action="/" class="miniform">
        <input type="hidden" name="call" value="Autofocus.addList">
        <label>Add new task list:</label>
        <input id="title" name="title">
        </form>
    </div>
    <div id="log">
        <h2>Combined log:</h2>
        <table id="log-table"><tbody><%

            for each (var entry in log) {
                print('<tr>');
                print('<td class="time">', entry.time.getHours(), ':', entry.time.getMinutes(), '</td>');
                print('<td class="', entry.action, '">', entry.action, '</td>');
                print('<td>', entry.details, '</td>');
                print('</tr>');
            }

        %>
        </tbody></table>
    </div>
</div>
