<%

var {lists} = vars;
lists = lists || [];

%><ul><%

for each (var list in lists) {
    print('<li><a href="/?call=Autofocus.showList&id=', list.id, '">', list.title, '</a></li>');
}

%></ul>

<form method="post" action="/">
<input type="hidden" name="call" value="Autofocus.addList">
<input name="title">
<br><input type="submit" value="+ Add list">
</form>
