<%

/*
    Copyright 2011 Emilis Dambauskas

    This file is part of Autofocus application.

    Autofocus is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Autofocus is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Autofocus.  If not, see <http://www.gnu.org/licenses/>.
*/


var {list, lists, tasks, log} = vars;

%><ul id="list-selector"><%

    for each (var tlist in lists) {
        print('<li');
        if (tlist.id == list.id) {
            print(' class="active"');
        }
        print('><a href="/?call=Autofocus.showList&id=', tlist.id, '">', tlist.title, '</a></li>');
    }

%>
</ul>
<div id="list">
    <div id="tasks">
        <h2>Tasks</h2>
        <table id="task-table"><tbody><%

            var action_td = '<td class="actions"><a class="done">D</a><a class="later">L</a><a class="remove">R</a></td>';

            for each (var task in tasks) {
                print('<tr id="task-', task.id, '"><td>', task.title, '</td>');
                print(action_td);
                print('</tr>');
            }

        %></tbody>
        <tfoot>
            <tr id="add-task">
                <td colspan="2">
                    <form onsubmit="autofocus.add(); return false;">
                        <small>Add new task:</small><br>
                        <input id="task-title" name="task-title"><br>
                        <input type="hidden" id="list-id" name="list-id" value="<%= list.id %>">
                    </form>
                </td>
            </tr>
        </tfoot></table>
    </div>
    <div id="log">
        <h2>Log</h2>
        <table id="log-table">
	<thead><tr><td colspan="3">
	    <form class="miniform" onsubmit="autofocus.log(this);return false;">
	    	<small>Log status message:</small><br>
		<input type="hidden" name="list-id" value="<%= list.id %>">
		<input id="status-details" name="status-details">
	    </form>
	</td></tr></thead>
	<tbody><%

            for each (var entry in log) {
                print('<tr>');
                print('<td class="time">', entry.time.getHours(), ':', entry.time.getMinutes(), '</td>');
                print('<td class="', entry.action, '">', entry.action, '</td>');
                print('<td>', entry.details, '</td>');
                print('</tr>');
            }

        %>
        </tbody></table>
    </div>
</div>

