<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Autofocus: <%= vars.title %></title>
        <link rel="stylesheet" type="text/css" href="/static/Autofocus/Autofocus.css">
        <script src="/static/jquery/jquery.js"></script>
        <script src="/static/Autofocus/Autofocus.js"></script>
    </head>
    <body>
        <div id="header"><a href="<%= config.URLS.root %>/" id="logo">Autofocus</a>
        </div>
        <div id="lists"><%= vars.content %></div>
    </body>
</html>


